@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2'),
        url('../fonts/Roboto-Bold.woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2'),
        url('../fonts/Roboto-Regular.woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    list-style-type: none;
}



.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #3F2AFF;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
}

.nav-list-item:not(:last-child) {
    margin-right: 56px;
}

.nav-item-link {
    font-size: 18px;
    color: #fff;
}



@media (max-width: 800px) {
    .logo_link {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }    
}

@media (max-width: 576px) {
    .nav-list {
        display: none;
    }

    .logo_link {
        margin: 0;
    }
}